html {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    background-color: #D1E8FF;
    Color: #424242;
    margin:0px;
}
#title {
    text-align: center;
    font-size: 300%;
    Color: #92b8d5;
}
#status {
    font-weight: bold;
    text-align: center;
}
#page-index {
    font-size: 110%;
    padding-top:10px;
    Color: slategray;
    background-color: white;
}
#index {
    background-color: white;
}
#content {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}
#article {
    font-weight: bold;
    font-size: 100%;
    margin-left: 30px;
    text-decoration: underline;
}
div {
    margin-top:0px;
    margin-bottom:0px;
}
h1 {
    Color: #d09837;
    background-color: #496d89;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:0px;
    margin-bottom:0px;
}
h2 {
    Color: #424242;
    background-color: #92b8d5;
    padding-left:30px;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:0px;
    margin-bottom:0px;
}
h3 {
    font-size: 160%;
    margin-left: 30px;
}
h4 {
    font-size: 130%;
    margin-left: 20px;
    text-decoration: underline;
}
h5 {
    font-size: 100%;
    margin-left: 30px;
}
p {
	margin-left: 30px;
	margin-right: 30px;
}
ul {
	margin-left: 30px;
}